<!DOCTYPE html>
<html>
<head>
    <title>Add Sensor Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Add Sensor Data</h1>
        <form method="POST">
            {{ form.csrf_token }} </br>
            <div class="form-group">
                <label for="weight">Weight:</label>
                <input type="number" step="0.1" name="weight" id="weight" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="height">Height:</label>
                <input type="number" step="0.1" name="height" id="height" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="ecg">ECG:</label>
                <textarea name="ecg" id="ecg" class="form-control" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Data</button>
            <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>