{% extends "base.html" %}
{% block title %}User List{% endblock %}
{% block content %}
    <h1>Users</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="/users/{{ user.id }}" class="btn btn-info btn-sm">Details</a>
                    <a href="/users/{{ user.id }}/edit" class="btn btn-primary btn-sm">Edit</a>
                    <a href="/users/{{ user.id }}/delete" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/users/create" class="btn btn-success">Create New User</a>
{% endblock %}